/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @use "./styles/variables";
// @use "./styles/globals";


/* SCSS variables */
$brand: #4f46e5;

/* Global styles */
body {
  font-family: system-ui, sans-serif;
}

/* Example SCSS class */
.btn-brand {
  background-color: $brand;
}
